.match-share-modal .modal-content,
.match-declaration-modal .modal-content {
  background-color: #2b2c40;
}
.match-declaration-modal .modal-header,
.match-share-modal .modal-header {
  padding: 5px 15px !important;
  border-bottom: none;
  color: #ffffff;
}
.match-share-modal .modal-body {
  padding: 0px;
  color: #ffffff;
}
.match-declaration-modal .modal-content {
  width: 60%;
  margin-left: 18%;
  color: #ffffff;
}
.match-share-modal .btn-close {
  color: #ffffff !important;
}
.add-button {
  background-color: #696cff;
  border: none;
  color: #ffffff;
}
.input-btn-bg {
  border: solid 2px rgba(54, 60, 72, 0.5);
  background-color: #3a3c58;
}
.payment-modal {
  --bs-modal-width: 420px !important;
}
.payment-modal .btn-close {
  --bs-btn-close-bg: url("/public/assets/close.png");
  position: absolute;
  top: 5%;
  right: 5%;
}
.all-none {
  border: none !important;
  outline: none !important;
}
.payment-modal select {
  color: #a3a4cc;
}
.payment-modal i {
  color: #a3a4cc;
}
.login-inputs {
  border: none;
  outline: none;
  color: #a3a4cc;
}
.login-inputs::placeholder {
  color: #c9d6f0 !important;
  font-family: "Barlow-Regular";
}
.blue-button {
  font-weight: 400;
  color: #ffffff !important;
  background-color: #696cff;
  border: none !important;
}
